.GradeContainer {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.testContainer {
    width: 980px;
}

.LectureContainer { 
    vertical-align: middle;
    display: flex;
    justify-content: center;
}

.LectureList {
    list-style:none;
}

.SemesterSelect {
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    width: 900px;
}

.btnLookUp {
    margin-left: 10px;
}

.EmptyDataContainer {
    margin: 150px;
}
.EmptyDataContainer label {
    font-size: 20px;
    font-weight: bold;
}