.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.container1 {
    width: 800px;
    justify-content: center;
    text-align: center;
}

.mainContainer {
    width: 800px;
    display: flex;
}

.formContainer {
    width: 800px;
    margin: 10px auto;
    display: inline-block;
}

.FormGroup {
    margin: 20px;
}

.SelectContainer {
    display: flex;
}

.SelectContainerLeft {
    width: 50%;
    margin-right: 5px;
}

.SelectContainerRight {
    width: 50%;
    margin-left: 5px;
}

.selectedMember {
    margin: 20px;
}

.ulSelectedMember li {
    display: inline-block;
    margin-bottom: 8px;
}

.parentsSubmit {
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.3s;
    font-weight: 700;
}


ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

.btnSelectPart {
    width: 100%;
    padding: 8px;
}