.bodyContainer {
    display: flex;
    height: 300px;
}

.searchContainer {
    width: 70%;
}

.memberContainer {
    width: 30%;
}

.formSearchContainer {
    margin: 5px;
}

.itemContainer {
    display: block;
    align-items: center;
    overflow:auto;
    height:262px;
}

.memberContainer {
    text-align: center;
    overflow:auto;
    height:262px;
}

.btnContainer {
    display: flex;
    text-align: center;
}

.items {
    width: 200px;
}

Table {
    text-align: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.selectedMembers {
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-width: 250px;
    width: 100%;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 20px;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}


ul.ks-cboxtags li input[type="checkbox"]:checked+label {
    border: 2px solid #1bdbf8;
    background-color: #12bbd4;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

ul.ks-cboxtags li input[type="checkbox"]:focus+label {
    border: 2px solid #e9a1ff;
}